.container {
  border: 1px solid blue;
  width: 1000px;
  height: 100px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
li {
  background-color: blue;
  width: 25px;
  height: 25px;
  margin: 5px;
padding: 5px;
margin-top: auto;
margin-bottom: auto;
margin-left: auto;
margin-right: auto;
list-style: none;
}
.item10 {
  margin-right: 80px;
}
.container2 {
  border: 1px solid blue;
  background-color: pink;
  width: 1000px;
  height: 100px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
.item1 {
  background-color: purple;
  width: 25px;
  height: 25px;
  margin: 5px;
padding: 5px;
margin-top: auto;
margin-bottom: auto;
margin-left: auto;
margin-right: auto;
list-style: none;
}
.item2 {
  background-color: purple;
  width: 25px;
  height: 25px;
  margin: 5px;
padding: 5px;
margin-top: auto;
margin-bottom: auto;
margin-left: auto;
margin-right: auto;
list-style: none;
}
.item3 {
  background-color: purple;
  width: 25px;
  height: 25px;
  margin: 5px;
padding: 5px;
margin-top: auto;
margin-bottom: auto;
margin-left: auto;
margin-right: auto;
list-style: none;
}
.item4 {
  background-color: purple;
  width: 25px;
  height: 25px;
  margin: 5px;
padding: 5px;
margin-top: auto;
margin-bottom: auto;
margin-left: auto;
margin-right: auto;
list-style: none;
}
.item5 {
  background-color: purple;
  width: 25px;
  height: 25px;
  margin: 5px;
padding: 5px;
margin-top: auto;
margin-bottom: auto;
margin-left: auto;
margin-right: auto;
list-style: none;
}
.item6 {
  background-color: purple;
  width: 25px;
  height: 25px;
  margin: 5px;
padding: 5px;
margin-top: auto;
margin-bottom: auto;
margin-left: auto;
margin-right: auto;
list-style: none;
}
.item7 {
  background-color: purple;
  width: 25px;
  height: 25px;
  margin: 5px;
padding: 5px;
margin-top: auto;
margin-bottom: auto;
margin-left: auto;
margin-right: auto;
list-style: none;
}
.item8 {
  background-color: purple;
  width: 25px;
  height: 25px;
  margin: 5px;
padding: 5px;
margin-top: auto;
margin-bottom: auto;
margin-left: auto;
margin-right: auto;
list-style: none;
}
.item9 {
  background-color: purple;
  width: 25px;
  height: 25px;
  margin: 5px;
padding: 5px;
margin-top: auto;
margin-bottom: auto;
margin-left: auto;
margin-right: auto;
list-style: none;
}
.item11 {
  background-color: purple;
  width: 25px;
  height: 25px;
  margin: 5px;
padding: 5px;
margin-top: auto;
margin-bottom: auto;
margin-left: auto;
margin-right: 80px;
list-style: none;
}